div.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root{
    border-color: #fff;
}
fieldset.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color: #FFF;
}

label.css-rp6sv4-MuiFormLabel-root-MuiInputLabel-root {
    color: #FFF;
}
label.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root  {
    color:#fff;

}
div.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root{
    color: white;
}
button.button{
    background-color: red;
    color: #fff;
}
button.button:hover{
    background-color: #fff;
    color: red;
}
.link{
    color: #FFF;
    margin-right: 4%;
   
}
.link:hover{
    color:red
}
.divlink{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

button.button-p{
    background-color: red;
    color: #fff;
}
button.button-p:hover{
    background-color: #fff;
    color: red;
}




