.series-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
    max-width: 1600px;
    margin: 0 auto;
}

.series-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    width: 100%;
    justify-items: center;
}

.series-card {
    max-width: 300px;
    cursor: pointer;
    width: 100%;
}

.series-card-media {
    height: auto;
    width: 70%;
    margin: 0 auto;
}

.card-content {
    text-align: center;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-genres {
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-rating {
    margin-top: 5px;
}

.star {
    color: #343434;
}

.fav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
