.css-1l5ed33-MuiGrid-root{
    padding: 4%;
}


span.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
    color: red;
}
span.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
    color: white;
}

.profil{
    background-color: black;
    width: 30%;
    height: 40%;
    margin: auto;
    margin-top: 1.6%;
    padding: 5%;
    opacity:0.90;
}
div.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root{
    color: #fff;
}
.css-1c8tok6-MuiButtonBase-root-MuiButton-root:hover{
    background-color: #fff;
    color: red;
}
span.css-8je8zh-MuiTouchRipple-root:hover{
    background-color: #fff;
}
button.button-g{
    background-color: red;
    color: #fff;
}
button.button-g:hover{
    background-color: #fff;
    color: red;
}
