header.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: black;
}

.navbar{
    height: 5vh;
    display: flex;
    justify-content: space-between;
    opacity: 0.9;
    position:sticky;
}